@import "../bower_components/bootstrap/less/mixins.less";
@import "../bower_components/bootstrap/less/component-animations.less";
@import "base.less";
@import "mobile_res.less";

.snake-container-wrap {
	background-color: #e8392a;
	width: 100%;
	position: relative;
	.jianzhi();

	.hide {
		display: none;
	}

	.header {
		padding: 5px 10px;
		overflow: hidden;

		.info {
			color: #fff;
			float: left;
			text-align: center;

			span {
				font-size: 14px;
				padding: 5px 0px;
				font-weight: normal;
				display: block;
				width: 75px;
			}
		}

		@media screen and (max-width: 380px) {
			.info.rank {
				display: none;
			}
		}

		button.control {
			.button-size(0px; 5px; 12px; 14px; 0px);
			.sprite(@bt_play_normal);
			background-color: transparent;
			border: none;
			cursor: pointer;
			outline: none;;
			display: block;
			float: right;
		}

		button.control:active {
			.sprite(@bt_play_normal);
		}

		button.control.pause {
			.sprite(@bt_pause_normal);
		}

		button.control.pause:active {
			.sprite(@bt_pause_pressed);
		}
	}

	.content {
		canvas {
			.center-block();
		}	

		padding-bottom: 10px;
	}

	.snake-btn() {
		&:active {
			outline: none;
			border: none;
		}

		.jianzhi();
		color: #fff;
		text-align: center;
		background-color: #e8392a;
		cursor: pointer;
		border: none;
		outline: none;
	}


	.snake-modal-overlay {
		position: absolute;
		left: 0px;
		top: 0px;
		right: 0px;
		bottom: 0px;
		background-color: #fff;
		.opacity(0.5);
	}

	.snake-modal(@width; @height) {
		position: absolute;
		left: 50%;
		top: 50%;
		width: @width;
		height: @height;
		margin-left: -@width/2;
		margin-top: -@height/2;
		border: 3px solid #e8392a;
		border-radius: 3px;
	}


	.start-modal {
		.snake-modal(180px; 64px);
		border: none;
		background-color: transparent;

		button {
			.snake-btn();
			display: block;
			width: 100%;
			font-size: 18px;
			line-height: 24px;
			padding: 10px 20px;
			border-radius: 24px;
		}
	}

	.font(@size) {
		font-size: @size;
		line-height: @size;
	}

	.share-modal {
		.snake-modal(280px, 170px);
		background-color: #fff;

		p {
			text-align: center;
			color: #e8392a;
			margin: 0px;
			line-height: 36px;
			font-size: 18px;
		}

		text-align: center;
		button {
			.snake-btn();
			.font(18px);
			padding: 5px 12px;
			border-radius: 14px;
		}
	}

	.gameover-modal {
		.snake-modal(300px; 270px);
		background-color: transparent;
		border: none;

		.modal-inner {
			background-color: #fff;
			padding: 10px 0px;
			border: 3px solid #e8392a;
			border-radius: 3px;
			.tips {
				p {
					text-align: center;
					color: #e8392a;
					margin: 0px;
					line-height: 36px;
					font-size: 18px;
					span.score {
						font-size: 36px;
					}
				}
			}

			.gift {
				text-align: center;
				padding: 10px 0px;
				img, p {
					display: inline-block;
					vertical-align: top;
				}

				p {
					span{
						font-family: "微软雅黑";
						margin: 0px;
						.font(14px);
						padding: 5px 0px;
					}
					margin: 0px;
				}
			}

			.btns {
				text-align: center;
	
				button {
					.snake-btn();
					.font(14px);
					padding: 5px 12px;
					border-radius: 13px;
				}
			}
		}
	}
}

