    <!-- 邀请好友分享 -->
    <div class="tk-share share-605" id="dialog-invite-game" style="display:none;">
       <div class="tk-cont share-h400">
        <div class="tk-title"><span class="title-word-s">邀请好友来加油</span><div class="close-btn"><a href="javascript:;"><img src="images/close.png"></a></div></div>
        <div class="tk-cont-2 clearfix">
          <div class="tk-fenxiang-title rel">
            <div class="tk-fenxiang_btn"><a href="javascript:;" class="friends-share-submit"><img  src="images/tk-share-btn.png"></a></div>
            <div class="tk-middle-text">分享到微博即得<span id="_prize_content"></span>，
            还有机会赢取<span>三亚瑞吉酒店港湾房二晚入住</span>
            (仅剩3个名额)              
             </div>
            <div class="tk-right-libao-pic" id="_prize_coupon_18"><img src="images/tk-share-libao.png"></div>
            <div class="clear"></div>
          </div>                    
          <div class="tk-huanyi"><a href="javascript:;" id="dialog-huanyipi-game">换一批</a></div>
          <span id="_zl_spoke_id" class="spoke_id" style="display:none;"></span>
          <span id="_zl_invite_page" class="page" style="display:none">1</span>
          <ul class="tk-photo" id="_dzl_invite_list">
          </ul>     
        </div>
       </div>
    </div>