<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>snake demo</title>
    {{#if DEBUG}}
    <link rel="stylesheet" href="Public/game/css/snake.mobile.css" type="text/css">
    {{else}}
    <link rel="stylesheet" href="Public/game/css/snake.mobile.min.css" type="text/css">
    {{/if}}
</head>
<body style="margin: 0px;">
    <p style="text-align:center;width: 100%; height: 300px;line-height: 300px;color: #b20">网页其他内容</p>
    <div class="snake-container-wrap">
        <div class="snake-container">
        	<div class="header">
                <div class="info score">
                   <span class="prop">本局得分</span>
                   <span class="current">0</span>
                </div>
                <div class="info score">
    	           <span class="prop">总积分</span>
        	       <span class="total">0</span>
                </div>
                
                <div class="info rank">
                   <span class="prop">当前排名</span>
                   <span class="current">0</span>
                </div>
                <div class="info rank">
                   <span class="prop">总排名</span>
                   <span class="total">0</span>
                </div>
                <button class='control'></button>
        	</div>
            <div class='content'>
                <canvas class='canvas' id="snake" width="500" height="500">
                </canvas>
            </div>
        </div>

        <div class="snake-modal-overlay">
        </div>
        <div class="start-modal">
            <button>开始游戏</button>
        </div>

        <div class="error-modal hide">
            <p>加载失败</p>
        </div>

        <div class="share-modal hide">
            <p>恭喜您！</p>
            <p>已获得50元我买网红包</p>
            <p style="margin-bottom: 20px">继续冲击贪吃大奖吧！</p>
            <button>再来一局</button>
        </div>

        <div class="gameover-modal hide">
            <div class='modal-inner'>
                <div class="tips">
                    <p>你竟然得了</p>
                    <p><span class='score'>200</span>分</p>
                    <p>年兽还没吃饱，还有可能出没哦！</p>
                    <p>继续加油吧</p>
                </div>
                <div class="gift hide">
                    <img src="Public/game/images/redbag.png" width="50" height="50"> 
                    <p>
                        <span>获得50元我买网红包的同时</span><br>
                        <span>会分享您的本局成绩哦</span>
                    </p>
                </div>
                <div class="btns">
                    <button class="restart">再来一局</button>
                    <button class="share hide">立即获得红包</button>
                </div>
            </div>
        </div>
    </div>

    <p style="text-align: center;width: 100%; height: 300px;line-height: 300px;color: #b20">网页其他内容</p>

    <script type="text/javascript" src="js/jquery.min.js">
    </script>
    <script type="text/javascript" src="Public/game/js/jquery.hammer.min.js">
    </script>
    <script type="text/javascript" src="Public/game/js/async.js"></script>

    {{#if DEBUG}}
    <script type="text/javascript" src="Public/game/js/snake.mobile.js">
    </script>
    {{else}}
    <script type="text/javascript" src="Public/game/js/snake.mobile.min.js">
    </script>
    {{/if}}
</body>
</html>
